extends ../layout

block content
	.container
		each item in userinfos
			.thumbnail
				a(href="/userinfo/#{item._id}")
					img(src="#{item.image}",alt="#{item.name}")
				.caption
					p #{item.name}
					a.btn.btn-primary(href="/userinfo/#{item._id}",role="button") 查看详情
								